/*****************************************
 * MAIN SITE STYLING
 *****************************************/
* {
	box-sizing: border-box;
}
html, body {
	height: 100%;
	width: 100%;
}
body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	min-height: 600px;
	min-width: 1200px;
}
header {
	background-color: #000000;
	height: 13%;
	padding: 2% 3%;
	width: 100%;
}
main {
	background-color: #33ccff;
	display: block;
	height: 87%;
	min-height: 87%;
	overflow: auto;
	width: 100%;
}
main#tile {
	background-color: #FFFFFF;
	display: block;
	height: 85%;
	margin-top: 1em;
	min-height: 85%;
	width: 100%;
}
div#pbody{
	height: 100%;
	width: 100%;
}
.bluegreen {
	background-color: #A9E56E;
}
.darkorange {
	background-color: #FF8F3F;
}
.green {
	background-color: #DAF748;
}
.grey {
	background-color: #CCCCCC;
}
.messagegreen{
	background-color: #79d279;
	border: 1px solid #267326;
}
.messagered{
	background-color: #ff8080;
	border: 1px solid #990000;
}
.warning{
	color: #FF0000;
	font-weight: bold;
}
h1,h2,h3 {
	font-weight: bold;
}
h1 {
	font-size: 2em;
	margin-bottom: 2.5em;
}
h1#pagetitle {
	color: #FFFFFF;
	margin: 0;
	float: left;
	font-size: 2em;
	height: 100%;
	width: 50%;
}
h1#pagetitle a{
	color: #FFFFFF;
	text-decoration: none;
}
h2{
	font-size: 1.9em;
	margin-bottom: 2.5em;
}
h3{
	font-size: 1.5em;
	margin-bottom: 2.5em;
}
a{
	color: #0033cc;
}
strong{
	font-weight: bold;
}
section#content{
	background-color: #FFFFFF;
	height: auto;
	margin: 0 auto;
	min-height: 100%;
	padding: 5em;
	width: 75%;
}
section#content p {
	margin-bottom: 3.5em;
}
section#content p.buttonbartop {
	margin-bottom: 4em;
}
section#content p.message {
	border-radius: 0.5em;
	margin-bottom: 5em;
	padding: 1em 0.5em;
}
section#content ul.read-list{
	margin-bottom: 4em;
	margin-top: -1.5em; 
}
section#content ul.read-list li{
	margin: 1em 0;
}
/*****************************************
 * FORM & BUTTON STYLING
 *****************************************/
a.button{
	border-radius: 0.5em;
	display: inline-block;
	font-size: 1.1em;
	font-weight: bold;
	padding: 1em 2em;
	text-align: center;
	text-decoration: none;
}
.buttonblue{
	background-color: #0000FF;
	color: #FFFFFF;
}
.buttongreen{
	background-color: #007700;
	color: #FFFFFF;
}
.buttonred{
	background-color: #b30000;
	color: #FFFFFF;
}
.buttonyellow{
	background-color: #e68a00;
	color: #FFFFFF;
}
.buttonbarbottom{
	margin-top: 6em;
}
section#content form, section#content form ul{
	margin-bottom: 4.5em;
}
section#content form, section#content form ul{
	width: 100%;
}
section#content form ul li{
	margin-bottom: 3em;
	width: 100%;
}
section#content form ul li label, section#content form ul li input[type="text"], 
section#content form ul li input[type="password"], section#content form ul li select,
section#content form ul li input[type="radio"]{
	font-size: 1.1em;
}
section#content form ul li label{
	display: inline-block;
	vertical-align: top;
	width: 35%;
}
section#content form ul li label.autowidth{
	margin-right: 1.5em;
	width: auto;
}
section#content form ul li input[type="text"], section#content form ul li input[type="password"],
section#content form ul li select, section#content form ul li textarea{
	border-color: #AAAAAA;
	border-radius: 0.2em;
	text-indent: 0.5em;
	width: 60%;
}
section#content form ul li input[type="radio"]{
	border-color: #AAAAAA;
}
section#content form ul li select.smaller{
	border-color: #AAAAAA;
	border-radius: 0.2em;
	text-indent: 0.5em;
	width: 42%;
}
section#content form ul li textarea{
	padding-top: 0.2em;
}
section#content form ul li button {
	border-radius: 0.5em;
	border: none;
	cursor: pointer;
	font-size: 1.1em;
	font-weight: bold;
	margin-left: 35%;
	padding: 0.8em 2em;	
}
section#content form ul li button.horizontal {
	border-radius: 0.5em;
	border: none;
	cursor: pointer;
	font-size: 1.1em;
	font-weight: bold;
	margin-left: 0em;
	padding: 0.4em 1.5em;	
}
section#content form ul li button.buttonspaceleft, a.buttonspaceleft{
	margin-left: 3em;
}

section#content form ul li ul.edit-list, section#content form ul li ul.edit-list li {
	width: 100%;
}
section#content form ul li ul.edit-list{
	list-style: none;
}
section#content form ul li ul.edit-list li {
	margin-bottom: 2em;
}
/*****************************************
 * TABLE STYLING
 *****************************************/
table {
	text-align: center;
	margin-bottom: 4.5em;
}
table, thead, tbody, tr{
	border-radius: 1em;
	width: 100%;
}
th{
	background-color: #000000;
	color: #FFFFFF;
	font-weight: bold;
	padding: 1.2em 0;
}
td {
	padding: 1.2em 0;
}
table thead tr:first-child th:first-child{
	border-top-left-radius: 1em;
}
table thead tr:first-child th:last-child{
	border-top-right-radius: 1em;
}
tr.alternate{
	background-color: #DDDDDD;
}
/*****************************************
 * LOGIN PAGE STYLING
 *****************************************/
section#login {
	background-color: #FFFFFF;
	border-radius: 1em;
	height: 38em;
	left: 50%;
	margin-left: -20em;
	margin-top: -19em;
	position: fixed;
	top: 50%;
	width: 40em;
}
section#login #loginheader {
	background-color: #000000;
	border-radius: 1em 1em 0 0;
	height: 20%;
	width: 100%;
}
section#login #loginheader p{
	color: #FFFFFF;
	font-size: 2em;
	font-weight: bolder;
	position: relative;
	text-align: center;
	top: 35%;
}
section#login #loginform {
	border-color: #000000;
	border-style: solid;
	border-width: 0 2px 2px 2px;
	border-radius: 0 0 1em 1em;
	height: 80%;
	padding: 3.5em 2em;
	width: 100%;
}
section#login #loginform ul{
	height: 100%;
	width: 100%;
}
section#login #loginform li{
	margin-bottom: 3em;
	width: 100%;
}
section#login #loginform li label, section#login #loginform li input[type='text'], 
section#login #loginform li input[type='password'], section#login #loginform li input[type='submit']{
	font-size: 1.2em;
}
section#login #loginform li label{
	display: inline-block;
	width: 35%;
}
section#login #loginform li input[type='text'], 
section#login #loginform li input[type='password'] {
	border-color: #AAAAAA;
	border-radius: 0.2em;
	text-indent: 0.5em;
	width: 60%;
}
section#login #loginform li input[type='submit']{
	background-color: #007700;
	border-radius: 1em;
	border: none;
	color: #FFFFFF;
	cursor: pointer;
	font-weight: bold;
	margin-bottom: 0.2em;
	margin-left: 35%;
	margin-top: 1em;
	padding: 0.8em 2em;
	text-align: center;
	width: 60%;
}
/*****************************************
 * TILED LAYOUT STYLING
 *****************************************/
section.row {
	height: 29%;
	width: 100%;
}
section.field {
	border-radius: 1em;
	display: table;
	float: left;
	height: 100%;
	margin: 0.5%;
	text-align: center;
	width: 24%;
}
section.field p {
	color: #FFFFFF;
	display: table-cell;
	font-size: 1.5em;
	font-weight: bold;
  	vertical-align: middle;	
  	text-shadow: 0 0 6px #1A1E1E;
}
section.field a {
	color: #FFFFFF;
	display: block;
	padding: 2em 0;
	text-decoration: none;
}
/*****************************************
 * USER NAVIGATION STYLING
 *****************************************/
.usernav {
	float: right;
	height: 100%;
	width: 50%;
}
.usernav ul {
	float: right;
	height: 100%;
}
.usernav ul li, .usernav ul li a {
	color: #FFFFFF;
}
.usernav ul li {
	float: left;
	font-size: 1.2em;
}
